doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", href="/images/board-icon.jpg", type="image/x-icon")
  body(id='body')
    nav(class='nav')  
      h1 Messageboard
      div(class='links')
        a(href='/') Home    
        a(href='/new') New message
    div(class='main')
      block content
